<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Rails Experience</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
